<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>

<br/>
<div th:replace="base :: navlinks"></div>
<br/>
<h1>Basic Bullhorn Application</h1>
<form method="post" action="/add" th:object="${message}"
      enctype="multipart/form-data">
    Full Name: <br><input type = "text" th:field = "*{sentBy}"/>
    <span th:if = "${#fields.hasErrors('sentBy')}"
          th:errors = "*{sentBy}"></span><br/><br/>

    Message:<br> <textarea rows="4" cols="50" th:field = "*{content}"></textarea>
    <span th:if = "${#fields.hasErrors('content')}"
          th:errors = "*{content}"></span><br/><br/>

    Date: <br><input type = "date" th:field = "*{postedDate}"/>
    <span th:if = "${#fields.hasErrors('postedDate')}"
          th:errors = "*{postedDate}"></span><br/><br/>

    Description: <br><input textarea rows="3" th:field = "*{description}"/>
    <span th:if = "${#fields.hasErrors('description')}"
          th:errors = "*{description}"></span><br/>

    <input type="file" name="file"/><br/><br/>

    <input type = "submit" value = "Submit"/>

</form>
<br/><br/>
<div th:replace="base :: footer"></div>
</body>
</html>