<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="custom.css">
</head>
<body>
<a href="/add">Add a Message</a>
<br/><br/><br/>

<div th:each="message:${messages}">
    
        <aside style="float: left;width: 60px;" >
            
                <div th:if="${message.headshot} != null">
                    <img style="width:50px;height:50px;" th:src="${message.headshot}"/>

                </div>
            
        </aside>
    <table style="width:75%;border: none">
        <tr>
            <td style="font-size: x-large;" ><h3 style="color: blue;" id="poster"   th:text="${message.sentBy}"></h3></td>
            <td style="font-size: small;text-align: right;"><h3 th:text="${message.postedDate}"></h3></td>
        </tr>

        <tr>
            <td colspan="2" style="font-size: medium"> <h4 th:text="${message.content}"></h4> </td>
        </tr>

    </table>
            <hr/>
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;text-align: center">Share</td>
            <td style="width: 25%;text-align: center">Like</td>
            <td style="width: 25%;text-align: center">Viewers</td>
            <td style="width: 25%;text-align: center">Comment</td>
        </tr>
    </table>

</div>
<hr/>

<br/><br/>
<div th:replace="base :: footer"></div>
</body>
</html>