<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        table, th, td{
            border: 1px solid green;
        }
        table {
            width: 100%;
            background-color: #f1f1c1;
        }
        th{
            text-align: center;
        }

    </style>
</head>
<body>
<br/>
<div th:replace="base :: navlinks"></div><br/><br/>

                                    <div class="container" >

                                        <p style="float: left;width: 60px;"><img style="width:50px;height:50px;" th:src="${message.headshot}"/></p>


                                        <table>
                                            <tr>
                                                <th><h3>Name: </h3></th>
                                                <th><h3>Date: </h3></th>
                                                <th><h3>Message: </h3></th>
                                            </tr>
                                            <tr>
                                                <!-- Name: -->
                                                <td width="30%"><h4 th:text = "${message.sentBy}"></h4></td>
                                                <!-- date -->
                                                <td width="10%"><h4 th:text = "${message.postedDate}"></h4></td>
                                                <td width="60%"><h4 th:text = "${message.content}"></h4></td>
                                            </tr>
                                            <tr>

                                                <td></td>
                                                <td >
                                                    <a class="btn btn-danger" th:href = "@{/delete/{id}(id = ${message.id})}">Delete this Message</a>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>


            </form>

<div th:replace="base :: footer"></div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

</body>
</html>