<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<br/>
<div th:replace="base :: navlinks"></div><br/><br/>

<div class="container" >

    <aside style="float: left;width: 60px;" >

            <img style="width:50px;height:50px;" th:src="${message.headshot}"/>

    </aside>
    <table style="width:75%;border: none">
        <tr>
            <!-- Name: -->
            <td><h3 th:text = "${message.sentBy}"></h3></td>
            <!-- date -->
            <td><h5 th:text = "${message.postedDate}"></h5></td>
        </tr>
    </table>
</div>

<!--
Photo: <img style="width:50px;height:50px;" th:src="${message.headshot}"/>
        <br/><br/>

-->

    <!-- Message: <p th:text = "${message.content}"></p><br/><br/> -->

<div class="form-group">

        <label >Messsage: </label>

            <p th:text = "${message.content}"></p>


</div>

    <!-- Description: <span th:text = "${message.description}"></span><br/><br/> -->
<div class="form-group">
    <div class="col-sm-10">
        <label class="col-sm-2 control-label">Description: </label>
        <div class="col-sm-5">
            <span th:text = "${message.description}"></span>
        </div>
    </div>
</div>
<br/>

<a class="btn btn-danger" th:href = "@{/delete/{id}(id = ${message.id})}">Delete this Message</a><br/><br/><br/><br/>

<div th:replace="base :: footer"></div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

</body>
</html>